    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    @layer components {
        .is-active {
            @apply text-accent font-bold underline underline-offset-8 decoration-4;
        }
        .inactive {
            @apply hover:text-accent duration-300 hover:animate-pulse
        }
    }